<div style="overflow:hidden;">
  <div class="container">
    <a class="btn btn-info my-1" routerLink="/left">left</a>
    <a class="btn btn-info my-1" routerLink="/home">home</a>
    <a class="btn btn-info my-1" routerLink="/right">right</a>
    <div [@routing]="getRoutingState(outlet)" [style.height]="outletContainerHeight" (@routing.start)="onRoutingStart()" (@routing.done)="onRoutingDone()"
      class="outlet-container">
      <router-outlet #outlet="outlet" (activate)="onActivate($event)"></router-outlet>
    </div>
    <div style="border:2px solid black" class="my-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales, mauris ac vestibulum mattis, nisi massa dapibus
      orci, at aliquet orci ex nec magna. Nullam non nunc non mi mattis interdum. Suspendisse posuere et turpis quis ullamcorper.
      Vivamus tincidunt dui leo, eu suscipit felis rhoncus vel.
    </div>
  </div>
</div>